<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/theme.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/js/bootstrap.js" rel="stylesheet">
<body>
  <div class="container">
    <h1>Web Server sizing</h1>
    <div class="jumbotron"  ng-controller="myCtrler">
      <form>
        <div class="form-group">
          <label for="hits"># of hits/second</label>
          <input type="text" class="form-control" ng-model="hits">
        </div>
        <div class="form-group">
          <label for="size">request + response size in bits</label>
          <input type="text" class="form-control" ng-model="size">
        </div>
        <input type="button" value="What is the bandwidth needed ?" ng-click="calculateBandWidth()" class="btn btn-default">
    </div>
</body>

<script src="cont/mycont.js"></script>


</html>
